@CHARSET "ISO-8859-1";

#cabecera_buscador label{
	margin-top:2%;
	margin-bottom:4%;
	margin-left:19%;
	font-size:20px;
	font-weight: bold;
	text-decoration:underline;
	color:black;
}


#cabecera_buscador label{
	color:black;
}

#boton_buscador{
	margin-left:8px;
	font-size:15px;
}

#boton_buscador:hover, #imprimir_estado:hover{
	background-color: #008040;
	text-decoration:underline;
}

#busca_plan{
	height :30px;
	width : 30px;
	margin: 3px;
}

#imprimir_estado{
	margin-left:45%;
	margin-top:2%;
	font-size:25px;
	margin-bottom: 2%;
}

#Facturas_detalles{
	margin-top:5%;
	float:left;
	margin-left :32%;
	margin-bottom: 0%;

}





