@CHARSET "ISO-8859-1";

#cabecera_buscador, #cabecera_buscador label{
	margin-top:2%;
	margin-bottom:4%;
	margin-left:30%;
	font-size:20px;
	font-weight: bold;
	color:black;
}


#cabecera_buscador label{
	color:black;
	margin-left:0px;
}

#boton_buscador{
	font-size: 20px;
	text-decoration: none;
	width: 300px;
	margin-left: 20%;
}

#boton_buscador:hover{
	background-color: #008040;
	text-decoration:underline;
}

#busca_plan{
	height :30px;
	width : 30px;
	margin: 3px;
}

#imprimir_estado{
	margin-left:49%;
	margin-top:2%;
	margin-bottom: 2%;
	width: 40px;
	height: 40px;
}

#Estado_detalles{
	margin-top:5%;
	float:left;
	margin-left :2%;

}

#id_sorteo_nuevo, #fecha_sorteo_original{
	font-size:20px;
	color :black;
}

#Facturas_detalles{
	margin-top:5%;
	float:left;
	margin-left :25%;
	margin-bottom: 0%;


}







