@CHARSET "ISO-8859-1";

#nuevo_ingreso{
	margin-top:2%;
	margin-left:10%;
	font-size:20px;
	font-weight: bold;
    margin-bottom:7%;
}

#nuevo_igreso_titulo{
	margin-top:2%;
	margin-left:20%;
	font-size:26px;
	font-weight: bold;
    text-decoration: underline;
    margin-bottom:7%;
}

#nuevo_igreso_datos{
	margin-top:3%;
	margin-left:20%;
	font-size:26px;
	font-weight: bold;
    margin-bottom:7%;
}


#nuevo_igreso_datos input{
	font-family: Arial;
	font-size: 20pt; 
}

#crear_usuario{
	margin-top:30px;
	font-size:25px;
	font-weight: bold;
	margin-left:25%;
}

#crear_usuario:hover{	
    text-decoration: underline;
    background-color:#008000;
}

